/*
Font:
font-family: 'Roboto', sans-serif;
*/

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    display:block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}

/* UTILITY */
.container-60 {
    width: 60%;
    margin: auto;
}
.button-blue {
    background-color: rgb(0,97,255);
    color: white;
    border: none;
    padding: 7px 12px;
}
.button-white {
    background-color: white;
    border: 1px solid gray;
    padding: 5px 10px;
}

/* HEADER */
header {
    background-color: rgb(180,208,231);
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    height: 80px;
    line-height: 80px;
}
#header-img img {
    vertical-align: middle;
    display: inline-block;
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 0 1rem;
}
/* Effetto hover  */
nav ul li:not(#header-img):hover {
    border-bottom: 2px solid black;
}


/* Header main */
#header-main {
    padding: 100px 0 10px;
    width: 70%;
    margin: auto;
}
#header-contenuto {
    display: flex;
    position: relative;
    bottom: -70px;
}
h1 {
    font-size: 60px;
    font-weight: 900;
}
/*  header parte sinistra */
.sx {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
.sx > * {
    margin-bottom: 2rem
}
.sx button {
    width: 50%;
}
.fa-arrow-down {
    font-size: 30px;
}
/* Header parte destra */
.dx {
    flex-basis: 70%;
} 

/* MAIN */
.main-sections section {
    margin-top: 150px;
}
/* PRIMA SEZIONE Piani di Business */
#piani-business h2 {
    font-size: 30px;
    padding: 30px 0;
}
.fa-circle-dot {
    color: rgb(0,97,255);
}
.fa-circle {
    color: lightgray;
    margin-left: 2rem;
}
/* cards in flex */
.piani-business-cards {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.card {
    width: calc(100%/3 - 25px);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
.icona-business {
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
    text-align: center;
}
.card-description {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}
/* Card: caratteristiche singole voci */
.card-description > * {
    margin: 10px 0;
}
.card h3 {
    font-size: 1.3rem;
}
.price {
    font-weight: 600;
}
.al-mese {
    color: gray;
}
.card-description hr {
    width: 20%;
}
.card a {
    color: rgb(0,97,255);
    text-decoration: underline;
}
.fa-check {
    color: rgb(0,97,255);
}
/* Ultima card orizzonatale */
.piani-business-last {
    border: 1px solid lightgray;
}
.piani-business-last .icona-business {
    display: block;
}

.last-card-flex {
    display: flex;
    justify-content: space-between;
}
.piani-business-last h3 {
    font-size: 1.3rem;
}
.piani-business-last .card-description {
    flex-basis: 60%;
}
.piani-business-last .price {
    margin-bottom: 25px;
}
.piani-business-last button {
    margin: 20px 20px;
}

/* SECONDA SEZIONE Partner Dropbox */
#partner-dropbox {
    display: flex;
}
.partner-decription {
    padding: 25px 0 0 30px ;
    width: 90%;
}
.partner-decription > * {
    margin-bottom: 1.2rem;
}
.partner-decription h2 {
    font-size: 1.3rem;
}